// $primary1: #fef9ef;
// // $primary2: #5e6472;
// $secondary: #ffcb77;
// $accent1: #fe6d73;
// $accent2: #227c9d;
// $accent3: #17c3b2;

// $primary2: #2a2d35;

$primary1: #5e6472;
$primary2: #fef9ef;
$secondary: #227c9d;
$accent1: #fe6d73;
$accent2: #ffcb77;
$accent3: #17c3b2;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

html {
  background-color: $primary2;
  height: relative;
}

body {
  width: 100%;
  margin: auto;
}

header {
  width: 90%;
  margin: auto;
}

section {
  width: 90%;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.nav-links a {
  text-align: center;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 20px;
}

.nav-links a:hover {
  color: $secondary;
}

// FrontPage

.container {
  display: flex;
  justify-content: space-around;
  margin: 9.5rem 0 12rem 0;
}

.section {
  width: 30rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.section p {
  margin-bottom: 2rem;
  font-size: 20px;
  text-align: center;
  color: $secondary;
}

.section a {
  text-align: center;
  background: $accent1;
  padding: 1rem;
  border-radius: 12px;
  margin: 0 10rem 0 10rem;
}

.img-container {
  width: 40%;
  height: 25rem;
  box-shadow: 0px 10px rgba(224, 219, 219, 0.281);
  border-radius: 6px;
}

.img-container img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: $primary1;
}

p {
  color: $primary1;
}

.btn {
  background: $accent1;
  padding: 1rem;
  border-radius: 12px;
}

.btn-hover:hover {
  color: $secondary;
  background: rgba(254, 109, 114, 0.788);
}

.footer {
  // left: 0;
  // bottom: 0;
  // width: 100%;
  // clear: both;
  position: sticky;
  height: 100px;
  top: calc(100vh - 100px);
  height: 2rem;
  text-align: center;
  background-color: $accent2;
}

.footer p {
  padding: 0.2rem;
}

// Login Page
.card-login {
  height: relative;
  width: 450px;
  margin: auto;
  border-radius: 12px;
  background: $secondary;
  padding: 1rem;
  text-align: center;
}

.card-login h1 {
  font-weight: bold;
  font-size: 30px;
  color: $accent2;
  text-align: center;
}

.card-login p {
  color: black;
}

.card-login a {
  color: $accent3;
  text-decoration: underline;
}

.card-login .button {
  color: $primary2;
  background-color: $accent1;
  margin: 52px 0 4rem 0;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0.5rem;
  border-radius: 5px;
  width: 124px;
}

.login-input {
  width: 80%;
  margin: auto;
}

//Register Page
.register-input {
  width: 80%;
  margin: auto;
}

.username input[type="text"],
.password input[type="password"],
.email input[type="email"],
.fullname input[type="text"] {
  height: 35px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  padding: 5px;
  background: $primary2;
}

.username label,
.password label,
.email label,
.fullname label {
  color: $accent2;
  padding: 1rem 0 1rem 0;
  text-align: left;
}

.username,
.password,
.email,
.fullname {
  display: flex;
  flex-direction: column;
}

.card-login .button-register {
  color: $primary2;
  background-color: $accent1;
  margin: 52px 1rem 4rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0.5rem;
  border-radius: 5px;
  width: 124px;
}

.card-wrapper-register {
  margin: 2rem 0 4rem 0;
}
// ----------------------------- //

// Product Page

.product-page {
  display: flex;
  margin-top: 5rem;
}

.sidebar {
  text-align: center;
}

.sidebar .combo{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.combo select {
  color: $primary1;
  background-color: $primary2;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid $primary1;
  font-size: 20px;
  font-weight: 500;
}

.sidebar .button {
  color: $primary2;
  background-color: $accent1;
  margin: 30px 0 4rem 0rem;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0.4rem;
  border-radius: 5px;
  width: 100px;
}


.products {
  flex: 1;
  margin-left: 2rem;
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.products img {
  height: 200px;
  width: 230px;
}

.products h3{
  width: 230px;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 0.7rem;
  text-align: center;
}

.item {
  margin: 1rem;
}

.cto {
  display: flex;
  justify-content: space-around;
}

.buy {
  background-color: $accent1;
}

.detail{
  background-color: $secondary;
}

.buy,
.detail {
  color:  $primary2;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5rem 1.5rem; 
  border-radius: 5px;
}

.combo .button:hover,
.buy:hover,
.detail:hover {
  opacity: 0.8;
  color: black;
}

// ----------------------------- //

.card-wrapper {
  margin-top: 6rem;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #4e4e4e;
  border-radius: 10px;
}
