@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

html {
  background-color: #fef9ef;
  height: relative;
}

body {
  width: 100%;
  margin: auto;
}

header {
  width: 90%;
  margin: auto;
}

section {
  width: 90%;
  margin: auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.nav-links a {
  text-align: center;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 20px;
}

.nav-links a:hover {
  color: #227c9d;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 9.5rem 0 12rem 0;
}

.section {
  width: 30rem;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section p {
  margin-bottom: 2rem;
  font-size: 20px;
  text-align: center;
  color: #227c9d;
}

.section a {
  text-align: center;
  background: #fe6d73;
  padding: 1rem;
  border-radius: 12px;
  margin: 0 10rem 0 10rem;
}

.img-container {
  width: 40%;
  height: 25rem;
  -webkit-box-shadow: 0px 10px rgba(224, 219, 219, 0.281);
          box-shadow: 0px 10px rgba(224, 219, 219, 0.281);
  border-radius: 6px;
}

.img-container img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #5e6472;
}

p {
  color: #5e6472;
}

.btn {
  background: #fe6d73;
  padding: 1rem;
  border-radius: 12px;
}

.btn-hover:hover {
  color: #227c9d;
  background: rgba(254, 109, 114, 0.788);
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  height: 100px;
  top: calc(100vh - 100px);
  height: 2rem;
  text-align: center;
  background-color: #ffcb77;
}

.footer p {
  padding: 0.2rem;
}

.card-login {
  height: relative;
  width: 40%;
  margin: auto;
  border-radius: 12px;
  background: #227c9d;
  padding: 1rem;
  text-align: center;
}

.card-login h1 {
  font-weight: bold;
  font-size: 30px;
  color: #ffcb77;
  text-align: center;
}

.card-login p {
  color: black;
}

.card-login a {
  color: #17c3b2;
  text-decoration: underline;
}

.card-login .button {
  color: #fef9ef;
  background-color: #fe6d73;
  margin: 52px 0 1rem 0;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0.5rem;
  border-radius: 5px;
  width: 124px;
}

.login-input {
  width: 80%;
  margin: auto;
}

.username input[type="text"],
.password input[type="password"] {
  height: 35px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  background: #fef9ef;
}

.username label,
.password label {
  color: #ffcb77;
  padding: 1rem 0 1rem 0;
  text-align: left;
}

.username,
.password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-wrapper {
  margin-top: 6rem;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4e4e4e;
  border-radius: 10px;
}
/*# sourceMappingURL=index.css.map */