$primary1: #fef9ef;
$primary2: #5e6472;
$secondary: #ffcb77;
$accent1: #fe6d73;
$accent2: #227c9d;
$accent3: #17c3b2;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: $primary2;
  width: 90%;
  margin: auto;
  font-family: "Poppins", "sans-serif";
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.nav-links a {
  text-align: center;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 20px;
}

.nav-links a:hover {
  color: $secondary;
}

a {
  text-decoration: none;
  color: #fef9ef;
}

p {
  color: $primary1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2rem;
  text-align: center;
  background-color: $accent2;
}

.footer p {
  padding: 0.2rem;
}
