@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

html {
  background-color: #fef9ef;
  height: relative;
}

body {
  width: 100%;
  margin: auto;
}

header {
  width: 90%;
  margin: auto;
}

section {
  width: 90%;
  margin: auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.nav-links a {
  text-align: center;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 20px;
}

.nav-links a:hover {
  color: #227c9d;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 9.5rem 0 12rem 0;
}

.section {
  width: 30rem;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section p {
  margin-bottom: 2rem;
  font-size: 20px;
  text-align: center;
  color: #227c9d;
}

.section a {
  text-align: center;
  background: #fe6d73;
  padding: 1rem;
  border-radius: 12px;
  margin: 0 10rem 0 10rem;
}

.img-container {
  width: 40%;
  height: 25rem;
  -webkit-box-shadow: 0px 10px rgba(224, 219, 219, 0.281);
          box-shadow: 0px 10px rgba(224, 219, 219, 0.281);
  border-radius: 6px;
}

.img-container img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #5e6472;
}

p {
  color: #5e6472;
}

.btn {
  background: #fe6d73;
  padding: 1rem;
  border-radius: 12px;
}

.btn-hover:hover {
  color: #227c9d;
  background: rgba(254, 109, 114, 0.788);
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  height: 100px;
  top: calc(100vh - 100px);
  height: 2rem;
  text-align: center;
  background-color: #ffcb77;
}

.footer p {
  padding: 0.2rem;
}

.card-login {
  height: relative;
  width: 450px;
  margin: auto;
  border-radius: 12px;
  background: #227c9d;
  padding: 1rem;
  text-align: center;
}

.card-login h1 {
  font-weight: bold;
  font-size: 30px;
  color: #ffcb77;
  text-align: center;
}

.card-login p {
  color: black;
}

.card-login a {
  color: #17c3b2;
  text-decoration: underline;
}

.card-login .button {
  color: #fef9ef;
  background-color: #fe6d73;
  margin: 52px 0 4rem 0;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0.5rem;
  border-radius: 5px;
  width: 124px;
}

.login-input {
  width: 80%;
  margin: auto;
}

.register-input {
  width: 80%;
  margin: auto;
}

.username input[type="text"],
.password input[type="password"],
.email input[type="email"],
.fullname input[type="text"] {
  height: 35px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  background: #fef9ef;
}

.username label,
.password label,
.email label,
.fullname label {
  color: #ffcb77;
  padding: 1rem 0 1rem 0;
  text-align: left;
}

.username,
.password,
.email,
.fullname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-login .button-register {
  color: #fef9ef;
  background-color: #fe6d73;
  margin: 52px 1rem 4rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0.5rem;
  border-radius: 5px;
  width: 124px;
}

.card-wrapper-register {
  margin: 2rem 0 4rem 0;
}

.product-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
}

.sidebar {
  text-align: center;
}

.sidebar .combo {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.combo select {
  color: #5e6472;
  background-color: #fef9ef;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #5e6472;
  font-size: 20px;
  font-weight: 500;
}

.sidebar .button {
  color: #fef9ef;
  background-color: #fe6d73;
  margin: 30px 0 4rem 0rem;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0.4rem;
  border-radius: 5px;
  width: 100px;
}

.products {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.products img {
  height: 200px;
  width: 230px;
}

.products h3 {
  width: 230px;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 0.7rem;
  text-align: center;
}

.item {
  margin: 1rem;
}

.cto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.buy {
  background-color: #fe6d73;
}

.detail {
  background-color: #227c9d;
}

.buy,
.detail {
  color: #fef9ef;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

.combo .button:hover,
.buy:hover,
.detail:hover {
  opacity: 0.8;
  color: black;
}

.content {
  margin-top: 2rem;
}

.content .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.top .img-contain {
  height: 400px;
  width: 550px;
}

.top img {
  height: 100%;
  width: 100%;
}

.details h2 {
  margin-top: 2rem;
}

.details {
  color: #5e6472;
}

.details h4 {
  color: #17c3b2;
}

.bot {
  margin: 4rem 2rem;
}

.bot h3 {
  color: #227c9d;
}

.bot p {
  color: #5e6472;
}

.cto-detail {
  margin-bottom: 3rem;
}

.cto-detail .button {
  margin: 2rem;
  padding: 0.9rem;
  border-radius: 5px;
  color: #fef9ef;
  font-weight: 500;
  font-size: 20px;
}

.cto-detail .order {
  background-color: #fe6d73;
}

.cto-detail .more {
  background-color: #227c9d;
}

.order:hover,
.more:hover {
  opacity: 0.8;
  color: black;
}

.card-wrapper {
  margin-top: 6rem;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4e4e4e;
  border-radius: 10px;
}
/*# sourceMappingURL=index.css.map */